.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0.5em;
    min-height: var(--minHeightScreen);
}

.title {
    font: normal 600 2rem var(--font-inter);
    color: var(--Dark-orange);
}

.content {
    font: var(--NormalFont);
    color: var(--Grey-dark);
}

.link {
    font: normal 400 0.9rem var(--font-inter);
    color: var(--Dark-orange);
}