.page {
    display: flex;
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5em;
    gap: 2.5em;
    background-color: var(--white);
    width: 100%;
    max-width: 46.4em;

    border: 1px solid var(--Grey-light);
    border-radius: 10px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.title {
    font: normal 700 2em var(--font-inter);
    color: var(--Main-red);
    text-align: center;
}

.subsection {
    font: var(--SmallFont);
    white-space: pre-line;
    text-align: center;
    padding: 0 8%;
}

.error {
    font: var(--SmallFont);
    color: var(--Error-red);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    width: 100%;
    max-width: 22.5em;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
}

@media (max-width: 768px) {
    .page {
        padding: 0 1em;
    }

    .register {
        padding: 2em 1em;
    }

    .subsection {
        padding: 0;
    }
}